# 함수와 입출력

In [2]:
def add(a, b):
    return a + b

In [3]:
a = 3
b = 4
add(a, b)

7

In [4]:
c = add(a, b)
c

7

# 입력값과 리턴값에 따른 함수의 형태

In [6]:
# 일반적인 함수의 형태
def add(a, b):
    result = a + b
    return result

In [10]:
# 앱력값이 없는 함수
def say():
    return 'hi'

In [11]:
say()

'hi'

# 리턴값이 없는 함수

In [13]:
def add(a, b):
    print(f"{a} + {b} = {a + b}")

In [14]:
add(3, 4)

3 + 4 = 7

In [16]:
c = add(3, 4)

3 + 4 = 7

In [17]:
c

# 매개변수를 지정하여 호출하기

In [18]:
def sub(a, b):
    return a - b

In [19]:
sub(3, 7)

-4

In [20]:
sub(a = 3, b = 7)

-4

In [21]:
sub(b = 7, a = 3)

-4

# 입력값이 몇개가 될지 모를 대에으 ㅇ어떻게 해야할까?

In [50]:
def add_many(*args):
    result = 0
    for i in args:
        result += i
    return result

add_many(1,2,3,4,5)

15

In [51]:
def calculator(Operator, *args):
    result = 0
    if Operator == "*":
        result = 1
        
    for i in args:
        if Operator == "+":
            result += i
        elif Operator == "*":            
            result *= i
        else:
            result = 0        
    return result

In [52]:
calculator("*", 1,2,3,4,5)

120

# 키워드 매개변수, Kwargs

In [54]:
def print_kwargs(**kwargs):
    return kwargs
print_kwargs(a = 1)

{'a': 1}

In [55]:
print_kwargs(name = "KCM", age = 30)

{'name': 'KCM', 'age': 30}

# 함수의 리턴은 언제나 하나이다.

In [58]:
def add_and_mul(a,b):
    return a+b, a*b

add_and_mul(1, 2)

(3, 2)

In [59]:
a = add_and_mul(1, 2)

In [60]:
a, type(a)

((3, 2), tuple)

In [63]:
a, b = add_and_mul(1, 2)
a

3

In [64]:
b

2

In [66]:
a, _ = add_and_mul(1, 2)
a

3

In [68]:
def add_and_mul(a,b):
    return a+b
    return a*b
add_and_mul(1, 2)

3

# 리턴의 또다른 쓰임새

In [69]:
def say_nick(nick):
    if nick == "바보":
        return
    print("나의 별멸은 %s 입니다" %nick)

In [70]:
say_nick("야호")

나의 별멸은 야호 입니다

In [71]:
say_nick("바보")

# 매개변우싀 초깃값 미리 설정하기

In [73]:
def say_myself(name, age, man=True): 
    print("나의 이름은 %s 입니다." % name) 
    print("나이는 %d살입니다." % age) 
    if man: 
        print("남자입니다.")
    else: 
        print("여자입니다.")
say_myself("하으뜸", 37)

나의 이름은 하으뜸 입니다.
나이는 37살입니다.
남자입니다.

In [76]:
say_myself("하뿅뿅", 37, man = False)

나의 이름은 하뿅뿅 입니다.
나이는 37살입니다.
여자입니다.

In [77]:
def say_myself(name, man=True, age): # 초기화를 해주고 싶은 매개변수는 맨뒤로...
    print("나의 이름은 %s 입니다." % name) 
    print("나이는 %d살입니다." % age) 
    if man: 
        print("남자입니다.") 
    else: 
        print("여자입니다.")

SyntaxError: non-default argument follows default argument (2767377560.py, line 1)

In [79]:
a = 1
def vartest(a):
    a = a + 1
    print(a)

In [80]:
vartest(a)

2

In [81]:
a

1

# 함수안에서 함수 밖의 변수를 변경하는 방법

In [83]:
a = 1 
def vartest(a): 
    a = a +1 
    return a

a = vartest(a) 
print(a)

2

In [84]:
a = 1 
def vartest(): 
    global a 
    a = a+1

vartest() 
print(a)

2

# 람다 예약어(일회용 함수)

In [86]:
add = lambda a, b: a+b
result = add(3, 4)
print(result)

7

In [87]:
result = add(3, 4)
print(result)

7