## 131

In [1]:
#사과
#귱
#수박
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
    print(변수)

사과
귤
수박

## 132

In [2]:
#####
#####
#####
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
  print("#####")

#####
#####
#####

## 133

In [5]:
#for 변수 in ["A", "B", "C"]:
#  print(변수)
print("A")
print("B")
print("C")

A
B
C

## 134

In [10]:
#for 변수 in ["A", "B", "C"]:
#  print("출력:", 변수)
print("출력:", "A")
print("출력:", "B")
print("출력:", "C")

SyntaxError: unterminated string literal (detected at line 3) (1052851573.py, line 3)

## 135

In [11]:
#for 변수 in ["A", "B", "C"]:
#  b = 변수.lower()
#  print("변환:", b)

print("변환:", "A".lower())
print("변환:", "B".lower())
print("변환:", "C".lower())

변환: a
변환: b
변환: c

## 136

In [ ]:
for 변수 in [10, 20, 30]:
    print(변수)

## 137

In [16]:
for i in range(1,4):
    print(i*10)

10
20
30

## 138

In [18]:
for i in range(1,4):
    print(i*10)
    print("-------")

10
-------
20
-------
30
-------

## 139

In [19]:
for i in range(1,4):
    if i == 1:
        print("++++")
    print(i*10)

++++
10
20
30

In [20]:
for i in range(1,5):
    print("-------")

-------
-------
-------
-------

## 141

In [21]:
for i in [100, 200, 300]:
    print(i+10)

110
210
310

## 142

In [23]:
for i in ["김밥", "라면", "튀김"]:
    print("오늘의 메뉴:" , i)

오늘의 메뉴: 김밥
오늘의 메뉴: 라면
오늘의 메뉴: 튀김

## 143

In [25]:
for i in ["SK하이닉스", "삼성전자", "LG전자"]:
    print(len(i))

6
4
4

## 144

In [26]:
for i in ['dog', 'cat', 'parrot']:
    print(i, len(i))

dog 3
cat 3
parrot 6

## 145

In [27]:
for i in ['dog', 'cat', 'parrot']:
    print(i[0])

d
c
p

## 146

In [28]:
for i in [1, 2, 3]:
    print("3 X",i)

3 X 1
3 X 2
3 X 3

## 147

In [29]:
for i in [1, 2, 3]:
    print("3 X",i,"=",3*i)

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9

## 148

In [36]:
리스트 = ["가", "나", "다", "라"]
for 변수 in 리스트[1:]:
  print(변수)

나
다
라

## 149

In [35]:
리스트 = ["가", "나", "다", "라"]
for 변수 in 리스트[: :2]:
  print(변수)

가
다

## 150

In [41]:
리스트 = ["가", "나", "다", "라"]
for i in range(4):
  print(리스트[3-i])

라
다
나
가

## 151

In [43]:
for i in [3, -20, -3, 44]:
    if i < 0:
        print(i)

-20
-3

## 152

In [44]:
for i in [3, 100, 23, 44]:
    if i % 3 == 0:
        print(i)

3

## 153

In [45]:
for i in [13, 21, 12, 14, 30, 18]:
    if i < 20 and i % 3 == 0:
        print(i)

12
18

## 154

In [46]:
for i in ["I", "study", "python", "language", "!"]:
    if len(i) >= 3:
        print(i)

study
python
language

In [47]:
for i in ["A", "b", "c", "D"]:
    if i.isupper():
        print(i)

A
D

## 156

In [48]:
for i in ["A", "b", "c", "D"]:
    if i.islower():
        print(i)

b
c

## 157

In [49]:
for i in ['dog', 'cat', 'parrot']:
    print(i.capitalize())

Dog
Cat
Parrot

## 158

In [50]:
for i in ['hello.py', 'ex01.py', 'intro.hwp']:
    print(i.split(".")[0])

hello
ex01
intro

## 159

In [52]:
for i in ['intra.h', 'intra.c', 'define.h', 'run.py']:
    if i.split(".")[1] == 'h':
        print(i)

intra.h
define.h

## 160

In [53]:
for i in ['intra.h', 'intra.c', 'define.h', 'run.py']:
    if i.split(".")[1] == 'h' or i.split(".")[1] == 'c':
        print(i)

intra.h
intra.c
define.h

## 161

In [55]:
for i in range(100):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

## 162

In [58]:
for i in range(2002, 2051, 4):
    print(i)

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046
2050

## 163

In [60]:
for i in range(1, 31)[2::3]:
    print(i)

3
6
9
12
15
18
21
24
27
30

## 164

In [61]:
for i in range(100):
    print(99-i)

99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

## 165

In [62]:
for i in range(1, 10):
    print(i/10)

0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

## 166

In [70]:
for i in range(1, 10):
    print(f"3 X {i} = {3*i}")

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27

## 167

In [65]:
for i in range(1, 10 , 2):
    print(f"3 X {i} = {3*i}")

3 X 1 = 3
3 X 3 = 9
3 X 5 = 15
3 X 7 = 21
3 X 9 = 27

## 168

In [69]:
sum = 0
for i in range(1, 11):
    sum += i
print("합 =",sum)

합 = 55

## 169

In [71]:
sum = 0
for i in range(1, 11,2):
    sum += i
print("합 =",sum)

합 = 25

## 170

In [74]:
곱 = 1
for i in range(1, 11):
    곱 *= i
print("합 =",곱)

합 = 3628800

## 171

In [76]:
price_list = [32100, 32150, 32000, 32500]
for i in range(4):
    print(price_list[i])

32100
32150
32000
32500

## 172

In [78]:
price_list = [32100, 32150, 32000, 32500]
for i in range(4):
    print(i, price_list[i])

0 32100
1 32150
2 32000
3 32500

## 173

In [80]:
price_list = [32100, 32150, 32000, 32500]
for i in range(4):
    print(3-i, price_list[i])

3 32100
2 32150
1 32000
0 32500

## 174

In [84]:
price_list = [32100, 32150, 32000, 32500]
for i in range(1, 4):
    print(i*10+90, price_list[i])

100 32150
110 32000
120 32500

## 175

In [81]:
my_list = ["가", "나", "다", "라"]
for i in range(3):
    print(my_list[i], my_list[i+1])

가 나
나 다
다 라

## 176

In [85]:
my_list = ["가", "나", "다", "라", "마"]
for i in range(1, 4):
    print(my_list[i-1], my_list[i], my_list[i+1])

가 나 다
나 다 라
다 라 마

## 177

In [86]:
my_list = ["가", "나", "다", "라"]
for i in range(3):
    print(my_list[2-i+1], my_list[(2-i)])

라 다
다 나
나 가

## 178

In [87]:
my_list = [100, 200, 400, 800]
for i in range(3):
    print(my_list[i+1] - my_list[(i)])

100
200
400

## 179

In [90]:
my_list = [100, 200, 400, 800, 1000, 1300]
for i in range(4):
    print((my_list[i] + my_list[(i+1)] + my_list[i+2]) / 3)

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

## 180

In [92]:
low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]
volatility = []
for i in range(5):
    volatility.append(high_prices[i] - low_prices[i])
print(volatility)

[50, 100, 30, 80, 0]

## 181

In [96]:
list=[]
temp_list = []
for i in range(1, 4):
    temp_list = []
    for j in range(1, 3):
        temp_list.append(i*100+j)
    list.append(temp_list)
print(list)

[[101, 102], [201, 202], [301, 302]]

## 182

In [98]:
stock = [ ["시가", 100, 200, 300], ["종가", 80, 210, 330] ]
print(stock)

[['시가', 100, 200, 300], ['종가', 80, 210, 330]]

## 183

In [101]:
stock = { "시가":[100, 200, 300], "종가":[80, 210, 330] }
print(stock)

{'시가': [100, 200, 300], '종가': [80, 210, 330]}

## 184

In [102]:
stock = { "10/10":[80, 110, 70, 90], "10/11":[210, 230, 190, 200] }
print(stock)

{'10/10': [80, 110, 70, 90], '10/11': [210, 230, 190, 200]}

## 185

In [104]:
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart:
    for j in i:
        print(j, "호")

101 호
102 호
201 호
202 호
301 호
302 호

## 186

In [107]:
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in range(3):
    for j in range(2):
        print(apart[2-i][j], "호")

301 호
302 호
201 호
202 호
101 호
102 호

## 187

In [108]:
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in range(3):
    for j in range(2):
        print(apart[2-i][1-j], "호")

302 호
301 호
202 호
201 호
102 호
101 호

## 188

In [111]:
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart:
    for j in i:
        print(j, "호\n"+"-"*5 )

101 호
-----
102 호
-----
201 호
-----
202 호
-----
301 호
-----
302 호
-----

## 189

In [113]:
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart:
    for j in i:
        print(j, "호")
    print("-"*5 )

101 호
102 호
-----
201 호
202 호
-----
301 호
302 호
-----

## 190

In [114]:
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart:
    for j in i:
        print(j, "호")
print("-"*5 )

101 호
102 호
201 호
202 호
301 호
302 호
-----

## 191

In [120]:
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

for i in data:
    for j in i:
        print(float(j)*1.00014)

2000.28
3050.427
2050.2870000000003
1980.2772
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
15452.163
15052.107
15552.177
14902.086000000001

## 192

In [121]:
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

for i in data:
    for j in i:
        print(float(j)*1.00014)
    print("-"*5)

2000.28
3050.427
2050.2870000000003
1980.2772
-----
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
-----
15452.163
15052.107
15552.177
14902.086000000001
-----

## 193

In [122]:
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
data_1 = []
for i in data:
    for j in i:
        data_1.append(float(j)*1.00014)

print(data_1)

[2000.28, 3050.427, 2050.2870000000003, 1980.2772, 7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772, 15452.163, 15052.107, 15552.177, 14902.086000000001]

## 194

In [124]:
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
data_1 = []
data_2 = []

for i in data:
    data_1 = []
    for j in i:
        data_1.append(float(j)*1.00014)
    data_2.append(data_1)
print(data_2)

[[2000.28, 3050.427, 2050.2870000000003, 1980.2772], [7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772], [15452.163, 15052.107, 15552.177, 14902.086000000001]]

## 195

In [134]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
for row in range(1,4):
    print(ohlc[row][3])

100
190
310

## 196

In [135]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
for row in range(1,4):
    if ohlc[row][3] > 150:
        print(ohlc[row][3])

190
310

# 197

In [136]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
for row in range(1,4):
    if ohlc[row][3] >= ohlc[row][0]:
        print(ohlc[row][3])

100
310

## 198

In [139]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
volatility = []
for row in range(1,4):
    volatility.append(ohlc[row][1] - ohlc[row][2])
print(volatility)

[40, 30, 10]

## 199

In [142]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
for row in range(1,4):
    if ohlc[row][3] > ohlc[row][0]:
        print(ohlc[row][3]-ohlc[row][0])

10

## 200

In [143]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
손익 = 0
for row in range(1,4):
    손익 += (ohlc[row][3] - ohlc[row][0])

print(손익)

0