# 001 Print 기초

In [2]:
print("Hello World")

Hello World

# 002 Print 기초

In [3]:
print("Marry's cosmetics")

Marry's cosmetics

# 003 Print 기초

In [11]:
print('신씨가 소리 질렀다. "도둑이야"')

신씨가 소리 질렀다. "도둑이야"

# 004 Print 기초

In [12]:
print("c:\Windows")

c:\Windows

# 005 print 탭과 줄바꿈

In [14]:
print("안녕하세요. \n만나서\t\t반갑습니다.") # \n은 줄바꿈, \t는 탭

안녕하세요.
만나서		반갑습니다.

# 006 print 여러 데이터 출력

In [15]:
print("오늘도", "일요일") # 오늘도 일요일

오늘도 일요일

# 007 print 기초

print('naver;kakao;sk;samsung')

# 008 print 기초

In [18]:
print('naver/kakao/sk/samsung')

naver/kakao/sk/samsung

# 009 print 줄바꿈

In [23]:
print("first", end ='');print("second")

firstsecond

# 010 연산 결과 출력

In [24]:
print(5/3)

1.6666666666666667

# 011 변수 사용하기

In [28]:
삼성전자 = 50000
보유주식 = 10
print('총 평가금액 = ', 삼성전자*보유주식, '원')

총 평가금액 =  500000 원

# 012 변수 사용하기

In [33]:
시가총액 = '298조'
현재가 = '50,000원'
PER = 15.79
print(시가총액+', ', 현재가+', ', PER)

298조,  50,000원,  15.79

# 013 문자열 출력

In [34]:
s = 'hello'
t = 'python'
print(s+'! '+t)

hello! python

# 014 파이썬을 이용한 값 계산

In [35]:
2 + 2 * 3 # 8

8

# 015 type 함수

In [37]:
a = "132" # str
print(type(a))

<class 'str'>

# 016 문자열을 정수로 변환

In [41]:
num_str = "720"
num = int(num_str)
print(num, type(num))

720 <class 'int'>

# 017 정수를 문자열 100으로 변환

In [42]:
num = 100
n_str = str(num)
print(n_str, type(n_str))

100 <class 'str'>

# 018 문자열을 실수로 변환

In [44]:
str_num = '15.79'
f_num = float(str_num)
print(f_num, type(f_num))

15.79 <class 'float'>

# 019 문자열을 정수로 변환

In [48]:
year = "2020"
i_year = int(year)
print(str(i_year-3) + ", ", str(i_year-2)+ ", ", i_year-1)

2017,  2018,  2019

# 020 파이썬 계산

In [49]:
Price = 48584
Month = 36
Total_Price = Price * Month
print("총 금액 = ", Total_Price, " 원")

총 금액 =  1749024  원

# 021 문자열 인덱싱

In [50]:
letters = 'python'
print(letters[0], letters[2])

p t

# 022 문자열 슬라이싱

In [52]:
license_plate = "24가 2210"
print(license_plate[4:])

2210

# 023 문자열 인덱싱

In [55]:
str_temp = "홀짝홀짝홀짝"
print(str_temp[0::2])

홀홀홀

# 024 문자열 슬라이싱

In [75]:
string = "PYTHON"
print(string[::-1])

NOHTYP

# 025 문자열 치환

In [77]:
phone_number = "010-1111-2222"
phone_number = phone_number.replace('-', ' ')
print(phone_number)

010 1111 2222

# 026 문자열 다루기

In [80]:
phone_number = phone_number.replace(' ', '')
print(phone_number)

01011112222

# 027 문자열 다루기

In [82]:
url = "http://sharebook.kr"
print(url[url.find('.')+1:])

kr

# 028 문자열은 immutable

In [83]:
lang = 'python'
lang[0] = 'P'
print(lang)   # 에러

TypeError: 'str' object does not support item assignment

# 029 replace 메서드

In [84]:
string = 'abcdfe2a354a32a'
string = string.replace('a', 'A')
print(string)

Abcdfe2A354A32A

# 030 replace 메서드

In [86]:
string = 'abcd'
string.replace('b', 'B')
print(string) # abcd

abcd

# 031 문자열 합치기

In [87]:
a = "3"
b = "4"
print(a + b)  # 34

34

# 032 문자열 곱하기

In [88]:
print("Hi" * 3) # HiHiHi

HiHiHi

# 033 문자열 곱하기

In [90]:
print("-" * 80)

--------------------------------------------------------------------------------

# 034 문자열 곱하기

In [92]:
t1 = 'python'
t2 = 'java'
print((t1 + " " + t2 + " ") * 4)

python java python java python java python java

# 035 문자열 출력

In [97]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print("이름: %s 나이: %d\n이름: %s 나이: %d"%(name1,age1,name2,age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

# 036 문자열 출력

In [99]:
print("이름: {} 나이: {}\n이름: {} 나이: {}".format(name1,age1,name2,age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

# 037 문자열 출력

In [100]:
print(f"이름: {name1} 나이: {age1}\n이름: {name2} 나이: {age2}")

이름: 김민수 나이: 10
이름: 이철희 나이: 13

# 038 컴마 제거하기

In [101]:
상장주식수 = "5,969,782,550"
i_상장주식수 = int(상장주식수.replace(',', ''))
print(i_상장주식수)

5969782550

# 039 문자열 슬라이싱

In [103]:
분기 = "2020/03(E) (IFRS연결)"
print(분기[0:7])

2020/03

# 040 strip 메서드

In [109]:
data = "   삼성전자    "
data = data.strip(' ')
print(data)

삼성전자

# 041 upper 메서드

In [110]:
ticker = "btc_krw"
print(ticker.upper())

BTC_KRW

# 042 lower 메서드

In [111]:
ticker = "BTC_KRW"
print(ticker.lower())

btc_krw

# 043 capitalize 메서드

In [115]:
temp = 'hello'
print(temp.capitalize())

Hello

# 045 endswith 메서드

In [119]:
file_name = "보고서.xlsx"
file_name.endswith(('xlsx','xls'))

True

# 046 startswith 메서드

In [120]:
file_name = "2020_보고서.xlsx"
file_name.startswith('2020')

True

# 048 split 메서드

In [121]:
ticker = "btc_krw"
print(ticker.split('_'))

['btc', 'krw']

# 049 split 메서드

In [122]:
date = "2020-05-01"
list = date.split('-')
Year = list[0]
Month = list[1]
Day = list[2]
print(f'{Year}년 {Month}월 {Day}일')

2020년 05월 01일

# 050 rstrip 메서드

In [123]:
data = "039490     "
print(data.rstrip())

039490

# 051 리스트 생성

In [124]:
movie_rank = ['닥터 스트레인지','스플릿','럭키']
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키']

# 052 리스트에 원소 추가

In [125]:
movie_rank.append('베트맨')
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키', '베트맨']

# 053

In [126]:
movie_rank.insert(1, '슈퍼맨')
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '베트맨']

# 054

In [127]:
movie_rank.remove("럭키")
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '베트맨']

# 055

In [130]:
movie_rank.pop()
movie_rank.pop()
print(movie_rank)

['닥터 스트레인지', '슈퍼맨']

# 056

In [133]:
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]
langs = lang1 + lang2
print(langs)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

# 057

In [184]:
nums = [1, 2, 3, 4, 5, 6, 7]
min_num = min(nums)
max_num = max(nums)
print(f"max: {max_num}\nmin: {min_num}")

max: 7
min: 1

# 058

In [185]:
nums = [1, 2, 3, 4, 5]
print(sum(nums))

15

# 059

In [189]:
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]
print(len(cook))

12

# 060

In [192]:
nums = [1, 2, 3, 4, 5]
print(sum(nums)/len(nums))

3.0

# 061

In [193]:
price = ['20180728', 100, 130, 140, 150, 160, 170]
print(price[1:])

[100, 130, 140, 150, 160, 170]

# 062

In [194]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[0::2])

[1, 3, 5, 7, 9]

# 슬라이싱을 사용해서 짝수만 출력하라.

In [195]:
print(nums[1::2])

[2, 4, 6, 8, 10]

# 064

In [200]:
nums = [1, 2, 3, 4, 5]
nums.reverse
print(nums)

[1, 2, 3, 4, 5]

# 065

In [209]:
interest = ['삼성전자', 'LG전자', 'Naver']
print(interest[0], interest[2])

삼성전자 Naver

# 066 join 메서드

In [211]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print(" ".join(interest))

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

# 067 join 메서드

In [212]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print("/".join(interest))

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

# 068 join 메서드

In [213]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print("\n".join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

# 069 문자열 split 메서드

In [216]:
string = "삼성전자/LG전자/Naver"
interest = string.split('/')
print(interest)

['삼성전자', 'LG전자', 'Naver']

# 070 리스트 정렬

In [217]:
data = [2, 4, 3, 1, 5, 10, 9]
data.sort()
print(data)

[1, 2, 3, 4, 5, 9, 10]

# 071

In [226]:
movie_rank = ()
print(movie_rank, type(movie_rank))

() <class 'tuple'>

# 072

In [220]:
movie_rank = ('닥터 스트레인지','스플릿','럭키')
print(movie_rank)

('닥터 스트레인지', '스플릿', '럭키')

# 073

t_nums = (1,)
print(t_nums, type(t_nums))

# 074

In [229]:
t = (1, 2, 3)
t[0] = 'a' # 튜플은 특정 인덱스의 데이터를 수정하는 것이 불가능함

TypeError: 'tuple' object does not support item assignment

# 075

In [230]:
t = 1, 2, 3, 4 # 튜플
print(type(t))

<class 'tuple'>

# 076

In [231]:
t = ('a', 'b', 'c')
t = ('A', 'b', 'c')
print(t)

('A', 'b', 'c')

# 077

In [246]:
interest = ('삼성전자', 'LG전자', 'SK Hynix')
#data = list(interest) # 이거 안됨....
l_interest = []
l_interest.extend(interest)

# ========== 다른 방법 ==========
# my_list = [x for x in my_tuple]
# my_list = [*my_tuple]
# ==========++++++++++++=========

print(l_interest)

['삼성전자', 'LG전자', 'SK Hynix']

# 078

In [248]:
interest = ['삼성전자', 'LG전자', 'SK Hynix']
t_interest = tuple(interest)
print(t_interest)

('삼성전자', 'LG전자', 'SK Hynix')

# 079 튜플 언팩킹

In [249]:
temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c) # apple banana cake

apple banana cake

# 080 range 함수

In [251]:
t_nums = tuple(range(2, 100, 2))
print(t_nums)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)